* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgba(25, 162, 174, 0.9);
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 25%;
    border-radius: 20px;
}
.card-header {
    background-image: url('./images/bg-pattern-card.svg');
    height: 120px;
    border-radius: 20px 20px 0 0;
}
.card-content {
    height: 120px;
    text-align: center;
    margin-top: -14%;
}
.card-content img {
    border-radius: 70px;
    border: 2px solid white;
    width: 30%;
    margin-bottom: 2%;
}
.card-content h2 {
    margin-bottom: 2%;
}
.card-content p {
}
.card-footer {
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 20px 20px;
    margin-top: 20%;
   
    border-top: 1px solid rgb(202, 189, 189);
}
@media screen and (max-width: 380px) {
    .container {
        display: flex;
    }
    .card {
        width: 80%;
        margin: auto;
    }
}